@model PontoCerto.WebApplication.Models.Account.SignInDto

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<form method="post" asp-action="SignIn">
    
    <div class="mb-3">
        @Html.LabelFor(x => x.UserName, new {@class = "form-label"})
        @Html.TextBoxFor(x => x.UserName, new {@class = "form-control"})
        @Html.ValidationMessageFor(x => x.UserName, "", new {@class = "invalid-feedback"})
    </div>
    
    <div class="mb-3">
        @Html.LabelFor(x => x.Password, new {@class = "form-label"})                   
        @Html.PasswordFor(x => x.Password, new {@class = "form-control"})
        @Html.ValidationMessageFor(x => x.Password, "", new {@class = "invalid-feedback"})
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>

</form>