@model List<PontoCerto.Domain.Queries.Empresa.ColaboradorVm>

@{
    ViewBag.Title = "Colaboradores";
    Layout = "_Layout";
}

<div class="card mb-3">
    <div class="card-body">
        <a type="button" class="btn btn-primary" asp-action="RegistrarColaborador">
            Registrar um único colaborador
        </a>
        <button disabled type="button" class="btn btn-success">
            Registrar vários colaboradores via planilha csv
        </button>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr class="table-active">
            <th scope="col">Nome</th>
            <th scope="col">Empresa</th>
            <th scope="col">Data de nascimento</th>
            <th scope="col">E-mail</th>
            <th scope="col">UserName</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Any())
        {
            foreach (var colaborador in Model)
            {
                <tr>
                    <td>@colaborador.Nome</td>
                    <td>@colaborador.Empresa</td>
                    <td>@colaborador.DataNascimento</td>
                    <td>@colaborador.Email</td>
                    <td>@colaborador.UserName</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th scope="row" colspan="4" class="text-center">
                    Você não possui colaboradores
                </th>
            </tr>
        }
        </tbody>
    </table>
</div>

